/*
===================================
STANDARD VALUES
===================================
*/

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira Sans Bold.woff2") format("woff2"),
    url("../fonts/Fira Sans Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira Sans Regular.woff2") format("woff2"),
    url("../fonts/Fira Sans Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}

body {
  font-family: "Fira sans";
  background-color: hsl(31, 49%, 81%);
}

svg {
  color: white;
  width: 2rem;
}

main {
  overflow: hidden;
}

h1 {
  font-size: 3.5rem;
}

/*
===================================
UTILITY CLASSES
===================================
*/

.container {
  max-width: 80rem;
  width: 90%;
  margin: 0 auto;
}

.close {
  display: none;
}

.page-pointer::after {
  content: "";
  width: 2.5rem;
  height: 1rem;
  border-left: 0.2rem solid white;
  border-top: 0.2rem solid white;
  position: absolute;
  bottom: -1rem;
  left: 0;
}

.dates-circle {
  font-size: 1.74rem;
  font-weight: 600;
  background-color: hsl(0, 79%, 57%);
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Arrows */
.arrow-right,
.arrow-left {
  display: flex;
  align-items: center;
}

div.arrow-right svg {
  width: 3rem;
  margin-left: -1.75rem;
  color: black;
}

div.arrow-left svg {
  color: black;
  width: 3rem;
  margin-right: -1.75rem;
}

.arrow-helper {
  width: 5rem;
  height: 0.25rem;
  background-color: black;
}

/* Events */
.event-text-bl {
  position: absolute;
  bottom: -7rem;
  left: 0;
  max-width: 23.5rem;
  border: 0.1rem solid white;
  padding: 2rem;
  background-color: black;
}

.event-text-bl h2 {
  font-size: 1.25rem;
}

.event-text-bl h2,
.event-text-bl p {
  color: white;
}

.event-text-bl p {
  display: inline-block;
}

.event-text-bl h3 {
  display: inline-block;
  font-size: 1rem;
  color: black;
  background-color: hsl(0, 79%, 57%);
  padding: 0.5rem;
}

.event:hover .event-text-bl {
  transform: translateX(10%) translateY(-10%);
}

/*
===================================
HEADER
===================================
*/

header {
  background-color: black;
  padding: 2rem 0;
}

header .container {
  position: relative;
  max-width: 90rem;
  margin: 0 auto;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0;
}

header li {
  position: relative;
}

header a {
  color: white;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

header a:hover svg {
  color: hsl(0, 79%, 57%);
}

.header__languages {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__languages a {
  display: flex;
  align-items: center;
}

.header__languages:hover a {
  color: hsl(0, 79%, 57%);
}

.hover-after {
  position: relative;
}

.hover-after:hover::after {
  content: "";
  width: 1.5rem;
  border-bottom: 0.2rem solid white;
  position: absolute;
  bottom: -1rem;
  left: 0;
}

header .dates-circle {
  position: absolute;
  bottom: -9.5rem;
  right: 2rem;
}

/*
===================================
MENU
===================================
*/

.menu {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsl(0, 79%, 57%);
  width: 100%;
  height: 100%;
}

.menu a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.menu li {
  list-style: none;
}

.menu svg {
  color: black;
}

.menu__letter {
  padding: 10rem 0;
  background-color: hsl(31, 49%, 81%);
}

.menu__letter img {
  max-width: 100%;
  height: 100%;
}

.menu__search {
  position: absolute;
  top: 2rem;
  right: 5rem;
}

.menu__search ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu__nav {
  padding: 1rem 5rem;
}

.menu__nav-list {
  margin-top: 5rem;
  display: flex;
}

.menu__program,
.menu__program-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.menu__days {
  margin-top: 1.75rem;
}

.menu__close {
  position: absolute;
  top: 2.35rem;
  right: 2rem;
  font-size: 2.5rem;
}

.menu a:hover,
.menu a:hover svg {
  color: white;
}

/*
===================================
FOOTER
===================================
*/

footer {
  margin-top: 10rem;
}

/* Subscribe Newsletter */
.footer-newsletter__nav ul {
  max-width: 50rem;
}

.footer-newsletter__nav li {
  display: inline-block;
}

.footer-newsletter__nav-pics a,
.footer-newsletter__nav-vids a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: black;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  background-color: hsl(0, 79%, 57%);
}

.footer-newsletter__subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-newsletter__subscribe img {
  width: 50rem;
  margin-bottom: 5rem;
}

.footer-newsletter__subscribe-text h3 {
  font-size: 3rem;
}

.footer-newsletter__input input {
  width: 40rem;
  color: black;
  background: transparent;
  padding: 1rem 0.5rem;
  border: 0;
  border-bottom: 0.2rem solid black;
  margin: 1rem 0;
}

.footer-newsletter__input input:focus {
  outline: 0.15rem solid black;
}

.footer-newsletter__input button {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  background-color: hsl(0, 79%, 57%);
  border: 0;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

/* Footer Info */
.footer-info {
  background-color: black;
  padding-top: 5rem;
}

.footer-info .container {
  position: relative;
}

.footer-info .dates-circle {
  position: absolute;
  top: -11.5rem;
  left: 2rem;
}

.footer-info .dates-circle p {
  color: black;
}

.footer-info ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.footer-info p {
  color: white;
}

.footer-info__socials {
  display: flex;
  gap: 0.5rem;
}

.footer-info__socials a {
  background-color: white;
  padding: 0.2rem;
  border-radius: 50%;
}

.footer-info__sponsors {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-info__sponsors img {
  width: 5rem;
}

.footer__hashtag {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4rem;
}

/*
===================================
DAY NAVIGATOR
===================================
*/

.day-nav {
  background-color: black;
}

.day-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding: 5rem 0;
}

.day-nav li {
  list-style: none;
  background-color: hsl(0, 79%, 57%);
  padding: 2rem 1.5rem;
}

.day-nav a {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: black;
}

.day-nav .day-pointer {
  font-size: 2rem;
  padding: 3.5rem 2.5rem;
}

/*
===================================
HOME - Days
===================================
*/

.home-days {
  margin-top: 5rem;
}

.home-days .container {
  display: flex;
  align-items: center;
}

.home-days img {
  width: 40vw;
}

.home-days a {
  color: black;
  text-decoration: none;
}

.home-days__today {
  cursor: pointer;
  display: flex;
  margin-bottom: 1rem;
  margin-left: 25%;
}

.home-days__today:hover .arrow-helper {
  width: 6.5rem;
  transition: 0.5s;
}

/* Grid */
.home-days__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.1rem;
}

.home-days__grid a {
  width: 10rem;
  height: 6.5rem;
  color: black;
  background-color: hsl(0, 79%, 57%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.home-days__grid a:hover {
  background-color: black;
  color: white;
}

.home-days__grid-empty {
  background-color: hsl(31, 49%, 81%);
}

.home-days__grid strong {
  font-size: 2rem;
}

/*
===================================
HOME - Spotlight
===================================
*/

.home-spotlight {
  background-color: black;
  padding: 10rem 0;
  padding-bottom: 7rem;
}

.home-spotlight .container {
  width: 100rem;
  padding-left: 7.5rem;
}

.home-spotlight__events {
  display: flex;
  gap: 3.5rem;
  color: white;
  overflow: auto;
  padding-bottom: 10rem;
}

.home-spotlight__events li {
  list-style: none;
}

.home-spotlight__events a img {
  max-width: 25rem;
}

.home-spotlight__events a {
  position: relative;
  text-decoration: none;
}

/*
===================================
HOME - News
===================================
*/

.home-news__articles-container {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
}

.home-news {
  color: white;
  background-color: black;
  padding-bottom: 5rem;
}

.home-news .container {
  display: flex;
  justify-content: center;
  padding: 10rem;
}

.home-news__title {
  display: inline-block;
  rotate: -90deg;
  height: 0;
}

.home-news h2 {
  font-size: 9rem;
  background-color: black;
  padding: 0.5rem;
  margin-right: 18rem;
}

.home-news a {
  text-decoration: none;
  color: white;
}

.home-news__title::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: -2rem;
  right: 15rem;
  background-color: hsl(0, 79%, 57%);
  width: 30rem;
  height: 10rem;
}

.home-news__articles a {
  font-size: 1.75rem;
  font-weight: 700;
}

.home-news__articles {
  display: flex;
  width: 65rem;
}

.home-news__articles article {
  border: 0.1rem solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  padding: 1rem;
}

.home-news .arrow-right svg {
  color: white;
}

.home-news .arrow-helper {
  background-color: white;
}

.home-news figure {
  width: 37.5rem;
}

.home-news figure img {
  object-fit: fill;
  object-position: center;
  height: 100%;
}

.home-news__news-btn {
  max-width: 17rem;
  border: 0.1rem solid white;
  padding: 1rem;
  margin-top: 5rem;
  text-transform: uppercase;
  text-align: center;
}

/* Grid */
.home-news__articles-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.home-news__articles-grid article:last-child {
  grid-column: span 2;
  height: 15rem;
}

/*
===================================
NEWS
===================================
*/

.news {
  color: white;
  background-color: black;
}

.news li {
  list-style: none;
  margin-bottom: 5rem;
  border: 0.1rem solid white;
}

.news a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: white;
}

.news .news__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news .arrow-helper {
  background-color: white;
}

.news .arrow-right svg {
  color: white;
}

.news .page-nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.news .page-nav li {
  display: inline-block;
  border: 0.1rem solid white;
  border-radius: 25%;
  list-style: none;
  font-size: 2rem;
  padding: 1rem;
}

/*
===================================
SEARCH
===================================
*/

.search {
  color: white;
  background-color: black;
  padding-bottom: 5rem;
}

.search .container {
  max-width: 100rem;
}

.search img {
  width: 20rem;
}

.search h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form input {
  width: 50rem;
  padding: 1rem;
  border-top: 0.1rem solid white;
  border-right: 0;
  border-bottom: 0.1rem solid white;
  border-left: 0.1rem solid white;
  color: white;
  background-color: black;
}

.search-form input:focus {
  outline: 0;
}

.search-form button {
  cursor: pointer;
  background-color: transparent;
  border-top: 0.1rem solid white;
  border-right: 0.1rem solid white;
  border-bottom: 0.1rem solid white;
  border-left: 0;
  padding: 0.5rem;
}

.search-form button:hover {
  background-color: hsl(0, 79%, 57%);
}

.search-form button:hover svg {
  color: black;
}

.search-info {
  font-size: 1.75rem;
  text-align: center;
  margin: 2.5rem 0;
}

.searched-events {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.searched-events li {
  position: relative;
  list-style: none;
  margin-bottom: 8rem;
}

.searched-events img {
  width: 25rem;
}

/*
===================================
DAY - Spotlight
===================================
*/

.day-spotlight img {
  max-width: 25rem;
}

.day-spotlight {
  padding-bottom: 10rem;
  background-color: black;
}

.day-spotlight ul {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.day-spotlight li {
  list-style: none;
}

.day-spotlight a {
  position: relative;
}

/*
===================================
DAY - Filter
===================================
*/

.day-filter {
  color: white;
  background-color: black;
  padding: 3rem 0;
}

.day-filter svg {
  color: hsl(31, 49%, 81%);
  width: 1.5rem;
}

.day-filter img {
  width: 1.5rem;
}

.day-filter h2 {
  font-size: 2.75rem;
}

.day-filter__menu {
  max-height: 3.5rem;
  display: flex;
  border: 0.1rem solid hsl(31, 49%, 81%);
}

.day-filter__menu ul {
  display: flex;
  align-items: center;
  padding: 0;
}

.day-filter__menu li {
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.day-filter__options li {
  list-style: none;
  border-left: 0.1rem solid hsl(31, 49%, 81%);
  border-right: 0.1rem solid hsl(31, 49%, 81%);
}

.day-filter__category {
  color: black;
  background-color: hsl(31, 49%, 81%);
}

.filter-categories {
  background-color: hsl(31, 49%, 81%);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.filter-categories li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  width: 25rem;
}

.filter-categories figure {
  width: 3rem;
}

.filter-categories a {
  text-decoration: none;
  color: black;
  font-size: 1.35rem;
}

.day-filter .search-form {
  justify-content: flex-start;
}

.day-filter .search-form input {
  width: 25rem;
}

/*
===================================
DAY - Events
===================================
*/

.day-events {
  color: white;
  background-color: black;
}

.day-events .container {
  max-width: 100rem;
}

.day-events img {
  width: 27rem;
}

.day-events .category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.day-events .arrow-up img {
  width: 2rem;
}

.day-events ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  padding-bottom: 7rem;
}

.day-events li {
  position: relative;
  list-style: none;
  margin-bottom: 10rem;
}

.day-events .category h2 {
  font-size: 2rem;
}

.day-events .category img {
  width: 1.5rem;
}

/*
===================================
DAY - Search
===================================
*/

.day-search {
  background-color: black;
  padding-bottom: 5rem;
}

.day-search .container {
  background-color: hsl(0, 79%, 57%);
  display: flex;
  align-items: center;
  gap: 5rem;
}

.day-search h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.day-search h3 {
  font-weight: 400;
  margin-bottom: 2rem;
}

.day-search__form input {
  width: 35rem;
  color: black;
  background-color: white;
}

.day-search__form button {
  background-color: white;
}

.day-search__form button:hover {
  background-color: black;
}

.day-search__form button:hover svg {
  color: white;
}

.day-search__form svg {
  color: black;
}

/*
===================================
DETAIL
===================================
*/

.detail {
  color: white;
  background-color: black;
}

.detail .arrow-left svg {
  color: white;
}

.detail .arrow-helper {
  background-color: white;
}

.detail__event {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.detail__event img {
  max-width: 35rem;
}

.detail__return {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.detail__event-info {
  display: flex;
  gap: 5rem;
}

.detail__loc-time {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.detail__location {
  text-align: center;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: hsl(0, 79%, 57%);
  max-width: 10rem;
}

.detail__location img {
  width: 1.2rem;
}

/*
===================================
GRID TOGGLER
===================================
*/

.grid-toggler {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.grid-toggler a {
  padding: 0.5rem;
}

.grid-toggler a:hover,
.grid-toggler a:active {
  background-color: hsl(0, 79%, 57%);
}

.grid-toggler a:hover svg,
.grid-toggler a:active svg {
  color: black;
}

/* Events */
.grid-list .event img {
  display: none;
}

.grid-list ul {
  flex-direction: column;
  gap: 0;
  padding-bottom: 0;
}

.grid-list li {
  margin-bottom: 0;
}

.grid-list a {
  text-decoration: none;
}

.grid-list .event-text-bl {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  position: static;
  max-width: 100%;
  margin: 0;
  padding: 1rem;
}

.grid-list .event-text-bl h2 {
  padding: 0 1.5rem;
}

.grid-list h3 {
  color: white;
  background-color: transparent;
  padding-left: 1.5rem;
}

.grid-list .flex-order {
  order: -1;
}

.searched-events.grid-list {
  display: block;
}

.grid-list .grid-list__border {
  max-height: 180%;
  border-left: 0.1rem solid white;
  border-right: 0.1rem solid white;
}

.grid-list .event:hover .event-text-bl {
  transform: translateX(0%) translateY(0%);
  background-color: white;
}

.grid-list .event:hover .grid-list__border h2,
.grid-list .event:hover h3,
.grid-list .event:hover .flex-order {
  color: black;
}
